section.aliados-y-objetivos {

    h3 {
        text-align: center;
        margin: 1em;
    }

    h4 {
        text-align: center;
        margin: 1em;
    }

    article.cinco-productores-empresas {

        display: flex;
        justify-content: space-evenly;

        div {

            text-align: center;

            strong.big-number {
                font-size: 96px;
            }

            h4 {
                font-size: 20px;
                margin-top: 0;
            }
        }
    }

    article.data-objetivos {

        position: relative;

        div.container-title-objetivos::before {
            content: "";
            position: absolute;
            top: 0;
            left: 5%;
            width: 90%;
            height: 2px;
            background: linear-gradient(to right, #0099CD, #3CCEAA);
        }

        div.container-title-objetivos {

            h3 {

                padding: 1em 0;

            }

        }
    }

    article.container-cards-objetivos {

        div.card-area-conservacion,
        div.card-cultivo-cobertura,
        div.card-perdidas-desperdicios,
        div.card-recuperacion-envases {

            border-radius: 8px;
            box-shadow: 0px 0px 20px 0px #00000026;
            margin: 2%;

            div.container-title {
                display: flex;
                align-items: center;

                img {
                    width: 20%;
                    margin: 5%;
                }
            }

            div.container-estadisticas {
                display: flex;
                justify-content: space-evenly;

                span {
                    text-align: center;

                    strong {
                        font-size: 64px;
                    }

                    p.p1 {
                        margin: 0 1em 1em;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {

    section.aliados-y-objetivos {
        article.cinco-productores-empresas {
            justify-content: center;
        }

        article.container-cards-objetivos {
            display: flex;
            padding: 0 2%;

            div.card-area-conservacion,
            div.card-cultivo-cobertura,
            div.card-perdidas-desperdicios,
            div.card-recuperacion-envases {
                width: 25%;
                margin: 0.5%;
            }
        }
    }
}