section.objetivo-desarrollo-sostenible {

    article.impacto-ods {
        background-color: #213B8B;
        color: #FFFFFF;
        text-align: center;
        padding: 1em;

        h4 {
            margin: 1em;
        }

        div {
            padding: 0 15%;
            
            img {
                width: 45%;
                margin: 2%;
            }
        }
    }

    article.desarrollo-ods {
        text-align: center;

        img {
            width: 33%;
            margin: 2em;
        }

        p {
            margin: 1em;
            margin-top: 0;
        }
    }
}