header {
    display: flex;
    justify-content: space-between;
    align-items: center;

        img.edra-logo-header {
            margin: 10px;
            margin-left: 15px;
            width: 40vw;
        }

        nav {
            
        button#burger-menu-toggler {
            background: transparent;
            margin: 10px;

            img {
                width: 10vw;
            }
        }   
    }
}