section.indicadores-impacto {

    div.indicadores-container {
        position: relative; /* Set position relative for z-index to work */
    
        picture.background {
            img {
                width: 100%;
                max-width: 100%;
                display: block;
            }
        }
    
        article.indicadores {
            position: absolute; /* Position absolute to take it out of the normal flow */
            top: 0; /* Adjust the top position as needed */
            left: 0; /* Adjust the left position as needed */
            z-index: 1; /* Set a higher z-index to place it in front of the picture */
            color: #FFFFFF;
            padding: 22.2% 4.5%;

            h2 {
                text-align: center;
            }

            h3 {
                text-align: center;
                padding-bottom: 10%;
            }

            div.stats-container {
                height: 100%;
                width: 100%;

                div.un-indicador {
                    padding-bottom: 10%;
                    article {
                        display: flex;
                        align-items: center;
                        p.big-number {
                            font-size: 48px;
                            line-height: 62.4px;
                            font-weight: 600;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    

    article.gallery-partners {
        text-align: center;
        margin-bottom: 24px;

        h3 {
            margin: 1em;
        }

        article.gallery-container {
            width: 100vw;
            overflow: hidden;

            div.gallery-logos {

                display: flex;
                animation: scrollGallery 20s linear infinite;

                img {
                    height: 50px;
                    margin-right: 40px;
                }
            }
        }

        @keyframes scrollGallery {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
                /* Adjust to -200% for two images, -300% for three, and so on */
            }
        }
    }
}

@media (min-width: 768px) {
    section.indicadores-impacto {

        div.indicadores-container {
        
            article.indicadores {
                width: 100%;
                padding: 5.7% 1.2%;
    
                h3 {
                    padding-bottom: 2.9%;
                }
    
                div.stats-container {
                    
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    div.un-indicador {
                        padding-bottom: 10%;
                        article {
                            display: flex;
                            align-items: center;
                            p.big-number {
                                font-size: 48px;
                                line-height: 62.4px;
                                font-weight: 600;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}