section.practicas-agricultura-sostenible {

    h4 {
        text-align: center;
    }

    article.cultivo-cobertura {
        background-color: #0099CD;
    }

    article.areas-conservacion {
        background-color: #3DCEAA;
    }

    article.gestion-perdidas-desperdicios {
        background-color: #6C3880;
        color: #FFFFFF;
    }
    
    article.recuperacion-envases {
        background-color: #213C89;
    }

}