section.propuestas-desafio-cero {
    article.container-title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1em;

            img {
                width: 60px;
            }

            h5 {
                margin: 0 1em;
            }
        }
    }

    article.container-title::before {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        height: 2px;
        background: linear-gradient(to right, #0099CD, #3CCEAA);
    }
    
    article.container-propuestas {

        div.propuestas-implementar {

            p.subtitle {

                margin: 1em;

            }

            div.container-prop-implementar {
                display: flex;
                align-items: center;
                margin: 1em;

                figure {

                    width: 50%;
                    text-align: center;

                    img {
                        width: 60%;
                    }

                    figcaption {
                        color: #213C89;
                        margin: 0.5em;
                    }
                }
            }
        }
        div.propuestas-recuperar {

            p.subtitle {

                margin: 1em;

            }

            div.container-prop-recuperar {
                display: flex;
                align-items: center;
                margin: 1em;

                figure {

                    width: 50%;
                    text-align: center;

                    img {
                        width: 60%;
                    }

                    figcaption {
                        color: #213C89;
                        margin: 0.5em;
                    }
                }
            }
        }

    }
}