* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

* {
    scroll-behavior: smooth;
    font-family: 'Archivo', Arial, sans-serif;
}

a {
    color: inherit;
}

.uppercase-text {
    text-transform: uppercase;
}

h1 {
    font-size: 64px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

h4 {
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}