* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

* {
  scroll-behavior: smooth;
  font-family: "Archivo", Arial, sans-serif;
}

a {
  color: inherit;
}

.uppercase-text {
  text-transform: uppercase;
}

h1 {
  font-size: 64px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

p {
  line-height: 20.8px;
}

p.p1 {
  font-size: 20px;
  line-height: 26px;
}

p.p2 {
  font-size: 16px;
  line-height: 20.8px;
}

.color-celeste {
  color: #0099CD;
}

.color-verde {
  color: #3DCEAA;
}

.color-azul {
  color: #213C89;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img.edra-logo-header {
  margin: 10px;
  margin-left: 15px;
  width: 40vw;
}
header nav button#burger-menu-toggler {
  background: transparent;
  margin: 10px;
}
header nav button#burger-menu-toggler img {
  width: 10vw;
}
header nav ul.nav-menu {
  display: none;
}

@media (min-width: 768px) {
  header img.edra-logo-header {
    width: 15vw;
  }
  header nav button#burger-menu-toggler {
    display: none;
  }
  header nav ul.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  header nav ul.nav-menu li.nav-menu-element {
    margin: 1em;
  }
  header nav ul.nav-menu li.nav-menu-element:hover {
    cursor: pointer;
  }
  header nav ul.nav-menu li.moving-item {
    position: relative;
    transition: transform 0.3s ease;
  }
  header nav ul.nav-menu li.moving-item:hover {
    transform: translateY(-3px);
  }
  header nav ul.nav-menu li.moving-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0099CD, #3CCEAA);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  header nav ul.nav-menu li.moving-item:hover::after {
    opacity: 1;
  }
  header nav ul.nav-menu li#saber-mas {
    position: relative;
    padding: 12px 20px;
    border-radius: 100px;
    color: #000000;
    font-weight: 600;
    background: #FFFFFF;
  }
  header nav ul.nav-menu li#saber-mas::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right, #0099CD, #3CCEAA);
    margin: -2px;
  }
}
section.presentacion div.video-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.presentacion div.video-section video#background-video-desktop {
  display: none;
}
section.presentacion div.video-section video#background-video,
section.presentacion div.video-section video#background-video-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.presentacion div.video-section div.content {
  position: relative;
  z-index: 1;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.presentacion div.video-section div.content img.logo {
  width: 50%;
  margin: 0 25%;
}
section.presentacion div.video-section div.content h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.6px;
  margin: 12px;
}
section.presentacion div.video-section div.content h2 {
  font-size: 20px;
  line-height: 26px;
  margin: 0 7.5%;
}
section.presentacion div.article-container {
  position: relative;
  border-radius: 4px;
  margin: 1em;
  background: #FFFFFF;
}
section.presentacion div.article-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
  margin: -2px;
}
section.presentacion div.article-container article {
  text-align: center;
}
section.presentacion div.article-container article div.container-title {
  padding: 16px;
}
section.presentacion div.article-container article div.container-title p {
  line-height: 20.8px;
  margin: 10px;
}
section.presentacion div.article-container article div.container-title h4 {
  margin: 1em;
  margin-bottom: 10px;
}
section.presentacion div.article-container article div.container-problemas {
  display: flex;
  position: relative;
}
section.presentacion div.article-container article div.container-problemas img.plus-sign {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 45%;
  width: 10%;
}
section.presentacion div.article-container article div.container-problemas span#icon-cambio-climatico {
  background: #0099CD;
  width: 50%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.presentacion div.article-container article div.container-problemas span#icon-cambio-climatico img {
  width: 40%;
  margin-top: 1em;
}
section.presentacion div.article-container article div.container-problemas span#icon-cambio-climatico h5 {
  margin: 1em;
}
section.presentacion div.article-container article div.container-problemas span#icon-seguridad-alimentaria {
  background: #3CCEAA;
  width: 50%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.presentacion div.article-container article div.container-problemas span#icon-seguridad-alimentaria img {
  width: 40%;
  margin-top: 1em;
}
section.presentacion div.article-container article div.container-problemas span#icon-seguridad-alimentaria h5 {
  margin: 1em;
}

@media (min-width: 768px) {
  section.presentacion div.video-section {
    align-items: space-evenly;
  }
  section.presentacion div.video-section video#background-video {
    display: none;
  }
  section.presentacion div.video-section video#background-video-desktop {
    display: block;
  }
  section.presentacion div.video-section div.content h1 {
    font-size: 64px;
    line-height: 83.2px;
  }
  section.presentacion div.video-section div.content h2 {
    font-size: 32px;
    line-height: 41.6px;
  }
  section.presentacion div.article-container {
    margin: 2.86%;
  }
  section.presentacion div.article-container article {
    display: flex;
  }
  section.presentacion div.article-container article div.container-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  section.presentacion div.article-container article div.container-title p {
    width: 90%;
  }
  section.presentacion div.article-container article div.container-title h4 {
    width: 50%;
    margin: 10px;
  }
  section.presentacion div.article-container article div.container-problemas {
    width: 50%;
  }
  section.presentacion div.article-container article div.container-problemas img.plus-sign {
    top: 42%;
    left: 47%;
    width: 6%;
  }
  section.presentacion div.article-container article div.container-problemas span#icon-cambio-climatico img,
  section.presentacion div.article-container article div.container-problemas span#icon-seguridad-alimentaria img {
    width: 17.14%;
  }
}
section.objetivo-desarrollo-sostenible {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.objetivo-desarrollo-sostenible article.impacto-ods {
  background-color: #213B8B;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
}
section.objetivo-desarrollo-sostenible article.impacto-ods h4 {
  margin: 1em;
}
section.objetivo-desarrollo-sostenible article.impacto-ods div.gallery-ods {
  padding: 0 15%;
}
section.objetivo-desarrollo-sostenible article.impacto-ods div.gallery-ods img {
  width: 45%;
  margin: 2%;
}
section.objetivo-desarrollo-sostenible article.desarrollo-ods {
  text-align: center;
}
section.objetivo-desarrollo-sostenible article.desarrollo-ods img {
  width: 33%;
  margin: 2em;
}
section.objetivo-desarrollo-sostenible article.desarrollo-ods p {
  margin: 1em;
  margin-top: 0;
  line-height: 20.8px;
}

@media (min-width: 768px) {
  section.objetivo-desarrollo-sostenible article.impacto-ods {
    width: 100%;
  }
  section.objetivo-desarrollo-sostenible article.impacto-ods div.gallery-ods img {
    width: 15%;
    margin: 1%;
  }
  section.objetivo-desarrollo-sostenible article.desarrollo-ods {
    width: 60%;
    margin-bottom: 4.57%;
  }
  section.objetivo-desarrollo-sostenible article.desarrollo-ods img {
    width: 16%;
  }
}
section.propuestas-desafio-cero article.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.propuestas-desafio-cero article.container-title div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}
section.propuestas-desafio-cero article.container-title div img {
  width: 60px;
}
section.propuestas-desafio-cero article.container-title div h5 {
  margin: 0 1em;
}
section.propuestas-desafio-cero article.container-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar p.subtitle {
  margin: 1em;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar div.container-prop-implementar {
  display: flex;
  align-items: center;
  margin: 1em;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar div.container-prop-implementar figure {
  width: 50%;
  text-align: center;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar div.container-prop-implementar figure img {
  width: 60%;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar div.container-prop-implementar figure figcaption {
  color: #213C89;
  margin: 0.5em;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar p.subtitle {
  margin: 1em;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar div.container-prop-recuperar {
  display: flex;
  align-items: center;
  margin: 1em;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar div.container-prop-recuperar figure {
  width: 50%;
  text-align: center;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar div.container-prop-recuperar figure img {
  width: 60%;
}
section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar div.container-prop-recuperar figure figcaption {
  color: #213C89;
  margin: 0.5em;
}

@media (min-width: 768px) {
  section.propuestas-desafio-cero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.propuestas-desafio-cero article.container-title {
    width: 60%;
  }
  section.propuestas-desafio-cero article.container-title div {
    margin-top: 7.62%;
  }
  section.propuestas-desafio-cero article.container-propuestas {
    display: flex;
    width: 55%;
    margin-bottom: 3%;
  }
  section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.propuestas-desafio-cero article.container-propuestas div.propuestas-implementar div.container-prop-implementar figure {
    width: 100%;
  }
  section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.propuestas-desafio-cero article.container-propuestas div.propuestas-recuperar div.container-prop-recuperar figure {
    width: 100%;
  }
}
section.card-video article.container-title {
  position: relative;
  padding: 1.5em;
}
section.card-video article.container-title h4 {
  text-align: center;
  line-height: 26px;
}
section.card-video article.container-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
}
section.card-video article.flex-container {
  position: relative;
  padding: 0.5em;
  border-radius: 4px;
  margin: 1em;
  text-align: center;
  background: #FFFFFF;
}
section.card-video article.flex-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
  margin: -2px;
}
section.card-video article.flex-container div.info-container h4 {
  text-align: center;
  margin: 2em 0 0;
}
section.card-video article.flex-container div.info-container p {
  text-align: center;
  margin: 2em 0 0;
  line-height: 20.8px;
}
section.card-video article.flex-container div.info-container button {
  padding: 12px 20px;
  border-radius: 100px;
  color: #FFFFFF;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
  font-weight: 600;
  margin: 2em;
}
section.card-video article.flex-container div.video-section div.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}
section.card-video article.flex-container div.video-section div.video-container iframe.item-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  section.card-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.card-video article.container-title {
    width: 60%;
    padding: 4.57% 1.5em;
  }
  section.card-video article.container-title h4 {
    margin: 0 1em;
  }
  section.card-video article.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }
  section.card-video article.flex-container div.info-container {
    width: 50%;
  }
  section.card-video article.flex-container div.video-section {
    width: 50%;
  }
}
section.practicas-agricultura-sostenible {
  text-align: center;
}
section.practicas-agricultura-sostenible h4 {
  text-align: center;
  line-height: 26px;
}
section.practicas-agricultura-sostenible div.container-practicas {
  margin: 1em;
  text-align: left;
}
section.practicas-agricultura-sostenible div.container-practicas article.cultivo-cobertura {
  background-color: #0099CD;
  padding: 1em;
}
section.practicas-agricultura-sostenible div.container-practicas article.cultivo-cobertura img {
  width: 25%;
}
section.practicas-agricultura-sostenible div.container-practicas article.cultivo-cobertura h4 {
  text-align: left;
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.cultivo-cobertura h5 {
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.cultivo-cobertura ul li {
  list-style: disc inside none;
  line-height: 20.8px;
}
section.practicas-agricultura-sostenible div.container-practicas article.areas-conservacion {
  background-color: #3DCEAA;
  padding: 1em;
}
section.practicas-agricultura-sostenible div.container-practicas article.areas-conservacion img {
  width: 25%;
}
section.practicas-agricultura-sostenible div.container-practicas article.areas-conservacion h4 {
  text-align: left;
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.areas-conservacion h5 {
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.areas-conservacion ul li {
  list-style: disc inside none;
  line-height: 20.8px;
}
section.practicas-agricultura-sostenible div.container-practicas article.gestion-perdidas-desperdicios {
  background-color: #6C3880;
  color: #FFFFFF;
  padding: 1em;
}
section.practicas-agricultura-sostenible div.container-practicas article.gestion-perdidas-desperdicios img {
  width: 25%;
}
section.practicas-agricultura-sostenible div.container-practicas article.gestion-perdidas-desperdicios h4 {
  text-align: left;
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.gestion-perdidas-desperdicios h5 {
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.gestion-perdidas-desperdicios ul li {
  list-style: disc inside none;
  line-height: 20.8px;
}
section.practicas-agricultura-sostenible div.container-practicas article.recuperacion-envases {
  background-color: #213C89;
  color: #FFFFFF;
  padding: 1em;
}
section.practicas-agricultura-sostenible div.container-practicas article.recuperacion-envases img {
  width: 25%;
}
section.practicas-agricultura-sostenible div.container-practicas article.recuperacion-envases h4 {
  text-align: left;
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.recuperacion-envases h5 {
  margin: 1em 0;
}
section.practicas-agricultura-sostenible div.container-practicas article.recuperacion-envases ul li {
  list-style: disc inside none;
  line-height: 20.8px;
}
section.practicas-agricultura-sostenible button#saber-mas {
  padding: 12px 20px;
  border-radius: 100px;
  color: #FFFFFF;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
  font-weight: 600;
}

@media (min-width: 768px) {
  section.practicas-agricultura-sostenible div.container-practicas {
    display: flex;
  }
  section.practicas-agricultura-sostenible div.container-practicas article.cultivo-cobertura,
  section.practicas-agricultura-sostenible div.container-practicas article.areas-conservacion,
  section.practicas-agricultura-sostenible div.container-practicas article.gestion-perdidas-desperdicios,
  section.practicas-agricultura-sostenible div.container-practicas article.recuperacion-envases {
    width: 25%;
  }
}
section.aliados-y-objetivos h3 {
  text-align: center;
  margin: 1em;
}
section.aliados-y-objetivos h4 {
  text-align: center;
  margin: 1em;
}
section.aliados-y-objetivos article.cinco-productores-empresas {
  display: flex;
  justify-content: space-evenly;
}
section.aliados-y-objetivos article.cinco-productores-empresas div {
  text-align: center;
}
section.aliados-y-objetivos article.cinco-productores-empresas div strong.big-number {
  font-size: 96px;
}
section.aliados-y-objetivos article.cinco-productores-empresas div h4 {
  font-size: 20px;
  margin-top: 0;
}
section.aliados-y-objetivos article.gallery-container {
  width: 100vw;
  overflow: hidden;
}
section.aliados-y-objetivos article.gallery-container div.gallery-logos {
  display: flex;
  animation: scrollGallery 20s linear infinite;
}
section.aliados-y-objetivos article.gallery-container div.gallery-logos img {
  height: 50px;
  margin-right: 40px;
}
@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    /* Adjust to -200% for two images, -300% for three, and so on */
  }
}
section.aliados-y-objetivos article.data-objetivos {
  position: relative;
}
section.aliados-y-objetivos article.data-objetivos div.container-title-objetivos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
}
section.aliados-y-objetivos article.data-objetivos div.container-title-objetivos h3 {
  padding: 1em 0;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases {
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1490196078);
  margin: 2%;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion div.container-title,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura div.container-title,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios div.container-title,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases div.container-title {
  display: flex;
  align-items: center;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion div.container-title img,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura div.container-title img,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios div.container-title img,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases div.container-title img {
  width: 20%;
  margin: 5%;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion div.container-estadisticas,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura div.container-estadisticas,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios div.container-estadisticas,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases div.container-estadisticas {
  display: flex;
  justify-content: space-evenly;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion div.container-estadisticas span,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura div.container-estadisticas span,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios div.container-estadisticas span,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases div.container-estadisticas span {
  text-align: center;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion div.container-estadisticas span strong,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura div.container-estadisticas span strong,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios div.container-estadisticas span strong,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases div.container-estadisticas span strong {
  font-size: 64px;
}
section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion div.container-estadisticas span p.p1,
section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura div.container-estadisticas span p.p1,
section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios div.container-estadisticas span p.p1,
section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases div.container-estadisticas span p.p1 {
  margin: 0 1em 1em;
}

@media (min-width: 768px) {
  section.aliados-y-objetivos article.cinco-productores-empresas {
    justify-content: center;
  }
  section.aliados-y-objetivos article.container-cards-objetivos {
    display: flex;
    padding: 0 2%;
  }
  section.aliados-y-objetivos article.container-cards-objetivos div.card-area-conservacion,
  section.aliados-y-objetivos article.container-cards-objetivos div.card-cultivo-cobertura,
  section.aliados-y-objetivos article.container-cards-objetivos div.card-perdidas-desperdicios,
  section.aliados-y-objetivos article.container-cards-objetivos div.card-recuperacion-envases {
    width: 25%;
    margin: 0.5%;
  }
}
section.indicadores-impacto div.indicadores-container {
  position: relative; /* Set position relative for z-index to work */
}
section.indicadores-impacto div.indicadores-container picture.background img {
  width: 100%;
  max-width: 100%;
  display: block;
}
section.indicadores-impacto div.indicadores-container article.indicadores {
  position: absolute; /* Position absolute to take it out of the normal flow */
  top: 0; /* Adjust the top position as needed */
  left: 0; /* Adjust the left position as needed */
  z-index: 1; /* Set a higher z-index to place it in front of the picture */
  color: #FFFFFF;
  padding: 22.2% 4.5%;
}
section.indicadores-impacto div.indicadores-container article.indicadores h2 {
  text-align: center;
}
section.indicadores-impacto div.indicadores-container article.indicadores h3 {
  text-align: center;
  padding-bottom: 10%;
}
section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container {
  height: 100%;
  width: 100%;
}
section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container div.un-indicador {
  padding-bottom: 10%;
}
section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container div.un-indicador article {
  display: flex;
  align-items: center;
}
section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container div.un-indicador article p.big-number {
  font-size: 48px;
  line-height: 62.4px;
  font-weight: 600;
  margin-right: 8px;
}
section.indicadores-impacto article.gallery-partners {
  text-align: center;
  margin-bottom: 24px;
}
section.indicadores-impacto article.gallery-partners h3 {
  margin: 1em;
}
section.indicadores-impacto article.gallery-partners article.gallery-container {
  width: 100vw;
  overflow: hidden;
}
section.indicadores-impacto article.gallery-partners article.gallery-container div.gallery-logos {
  display: flex;
  animation: scrollGallery 20s linear infinite;
}
section.indicadores-impacto article.gallery-partners article.gallery-container div.gallery-logos img {
  height: 50px;
  margin-right: 40px;
}
@keyframes scrollGallery {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    /* Adjust to -200% for two images, -300% for three, and so on */
  }
}

@media (min-width: 768px) {
  section.indicadores-impacto div.indicadores-container article.indicadores {
    width: 100%;
    padding: 5.7% 1.2%;
  }
  section.indicadores-impacto div.indicadores-container article.indicadores h3 {
    padding-bottom: 2.9%;
  }
  section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container div.un-indicador {
    padding-bottom: 10%;
  }
  section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container div.un-indicador article {
    display: flex;
    align-items: center;
  }
  section.indicadores-impacto div.indicadores-container article.indicadores div.stats-container div.un-indicador article p.big-number {
    font-size: 48px;
    line-height: 62.4px;
    font-weight: 600;
    margin-right: 8px;
  }
}
footer {
  background: linear-gradient(to right, #0099CD, #3CCEAA);
  padding: 2em 0;
  text-align: center;
}
footer article.subscribe-form {
  margin: 1em 1em 2em;
  padding: 2em 1em;
  background-color: hsl(0, 0%, 100%);
  text-align: left;
  border-radius: 8px;
}
footer article.subscribe-form p.p2 {
  margin: 1em 0;
}
footer article.subscribe-form form label.label-form {
  line-height: 20.8px;
}
footer article.subscribe-form form input.input-email {
  height: 40px;
  border: 1px solid #3DCEAA;
  border-radius: 4px;
  width: 100%;
}
footer article.subscribe-form form input#submit {
  padding: 12px 20px;
  border-radius: 100px;
  color: #FFFFFF;
  background: linear-gradient(to right, #0099CD, #3CCEAA);
  font-weight: 600;
  margin-top: 1em;
  width: 100%;
}
footer article.footer-data-container {
  position: relative;
}
footer article.footer-data-container img.logo-footer {
  width: 50%;
  max-width: 50vw;
  margin: 2em;
}
footer article.footer-data-container h4.title-footer {
  margin: 1em;
  color: #FFFFFF;
}
footer article.footer-data-container p.powered-alt {
  color: #FFFFFF;
  font-style: italic;
  text-decoration: underline;
}
footer article.footer-data-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 37%;
  right: 37%;
  width: 26%;
  height: 8px;
  background: #FFFFFF;
  border-radius: 8px;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer article.subscribe-form {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */